@import "reset";
@import "mixin";
.bgp{
  width:10rem;
  height:100%;
  z-index:-4;
  float:left;
  position: fixed;
  top:0;
  left:0;
}
.mask{
  width:10rem;
  height:100%;
  background-color: rgba(0,0,0,0.2);
  z-index:-3;
  float:left;
  position: fixed;
  top:0;
  left:0;
}
header{
  width:10rem;
  height:1.173333rem;
  margin:0rem auto 1rem;
  padding:0.4rem 0 0 0;
  >a{
    background: url(../img/add.png) no-repeat;
    background-size: 0.64rem 0.64rem ;
    width:0.64rem;
    height:0.64rem;
    display: inline-block;
    margin-left: 0.266667rem;
    float:left;
  }
  ul{
    width:1.2rem;
    height:0.64rem;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    display:none;
    >li{
      width:0.2rem;
      height:0.2rem;
      margin-top:0.22rem;
      border-radius: 50%;
      opacity: 0.4;
      background: #fff;
      &.active{
        opacity: 1;
      }
    }
  }
}
.current-weather{
  width:10rem;
  height:6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color:#f2f2f2;
}
.city{
  @include data-dpr("font-size",14);
}
.weather{
  margin-top: 0.266667rem;
  @include data-dpr("font-size",12);
}
.temp{
  margin-top: 0.533333rem;
  color:#fff;
  @include data-dpr("font-size",30);
}
.future-weather{
  width:10rem;
  color:#f2f2f2;
  li{
    width:10rem;
    height:1.86rem;
    color:#f2f2f2;
    margin:0.6rem 0;
    >img{
      float:left;
      width:1.1rem;
      height:1.1rem;
      margin: 0.3rem 0.1rem 0 0.7rem;
    }
    >div{
      float:left;
      width:4rem;
      height:1.46rem;
      margin:0.2rem;
    }
    >p{
      line-height: 1.84rem;
      @include data-dpr("font-size",12);
      width:3.4rem;
      float:right;
    }
  }
}
.day{
  @include data-dpr("font-size",12);
}
.wea {
  height:0.6rem;
  color:#e5e5e5;
  @include data-dpr("font-size",11);
  margin: 0.2rem 0.2rem  0.2rem 0;
  span,strong{
    float:left;
  }
  strong{
    margin-left: 0.4rem;
  }
}
