/*filter*/
.wrap{
	width:10rem;
	height: 16.08rem;
	background-color: #191f28;
}
nav{
	height:2.373333rem;
	line-height: 2.373333rem;
	display: flex;
	align-items: center;
}
nav a{
	color:#666a71;
	font-size: 21px;
	flex-grow:1;
	text-align: center;
}
nav a.active{
	color:#fff;
}
.wrap>div{
	margin:0 0.533333rem;
}
.week{
	height:1.333333rem;
	display: flex;
	align-items: center;
}
.week li{
	flex-grow:1;
	text-align: center;
	color:#f5f5f5;
	font-size: 16px;
}
.date{
	height:7rem;
	display: flex;
	flex-wrap: wrap;
}
.date li{
	flex-grow:1;
	text-align: center;
	color:#fff;
	font-size: 14px;
	width:1.2rem;
	height: 1.2rem;
	border-radius: 50%;
}
.date li p{
	margin: 0.2rem 0 0 0.2rem;
	width:0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	line-height: 0.8rem;
	text-align: center;
}
.date li p.active{
	background-color: #06bebd;
	color:#fff;
}
.date li p.past{
	color:#b3bdc2;
}
.wrap>p{
	width:4.88rem;
	margin:0 auto;
	text-align: center;
}
.wrap .choose-date{
	margin: 0 auto 0.44rem;
	color:#f5f5f5;
	font-size: 16px;
	line-height: 1.4em;
}
.wrap .total-days{
	margin: 0.4rem auto 1.466667rem;
	color:#b3bdc2;
	font-size: 14px;
}
.wrap .apply{
	height:1.733333rem;
	line-height: 1.733333rem;
	text-align: center;
	font-size: 18px;
	color:#fff;
	background-color: #06bebd;
	border-radius: 0.826667rem;
}