@import "mixin";
@import "public";
@import "reset";
@import "globle";

//1.入场动画
.enter{
	width: 10rem;
	height: 100%;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: -750px;
	z-index: 3;
	//overflow: hidden;
	display: none;
	ul{
		width: 40rem;
		height: 100%;
		li{
			width: 10rem;
			height: 100%;
			float: left;
		}
	}
}
//2.头部
.top{
	height: 2.5rem;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:2;
	background-color: #2b3139;
}
/*.more{
	left:0;
}
.search{
	right:0;
	background-size: 0.426667rem 0.426667rem;
}*/
.top-label h2{
	height:1.173333rem;
	line-height: 1.173333rem;
	color:#fff;
	font-weight: normal;
	text-align: center;
	letter-spacing: 6px;
	@include data-dpr("font-size",18)
}
.top-label a{
	width:0.6rem;
	height: 0.42rem;
	padding:0.18rem 0 0;
}
.icon-list{
	width:0.45rem;
	height:0.30rem;
	left:0.4rem;
	bottom:0.36rem;
}
.icon-list img{
	width:0.45rem;
	height:0.30rem;
}
.icon-search{
/*	width:0.413333rem;
	height:0.426667rem;*/
	right:0.4rem;
	bottom:0.36rem;
}
.icon-search img{
	width:0.413333rem;
	height:0.426667rem;
}
nav{
	width: 8.0rem;
	padding:0 1rem;
	height:1.333333rem;
	background-color: #191f28;
	line-height: 1.333333rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
nav a{
	color:#b2bdc1;
	display:inline-block;
	@include data-dpr("font-size",15)
}
nav a.active{
	color:#00bebe;
}
/*end top*/

/*wrap*/
.wrap{
	width: 10rem;
	margin-top: 2.5rem;
	background: #fff;
}
.wrap>div{
	display: none;
}
.wrap>div.active{
	display: block;
}
/*popular-recommand部分*/
#popular-recommand{
	width:10rem;
}
.swiper-container{
	width: 10rem;
	height: 10.0rem;
	.swiper-slide{
		width: 10rem;
		height: 10rem;
		//text-align: center;
		img{
			width: 10rem;
			height: 10rem;
		}
	}
}

.symbol{
	width:1.333333rem;
	height:0.16rem;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom:0.4rem;
	left:4.35rem;
	z-index:2;
}
.symbol li{
	width:0.16rem;
	height: 0.16px;
	background-color: red;
	border-radius: 50%;
	float:left;
}
.symbol li.active{
	background-color: #00bebe;
}
.dif-sections{
	width:10rem;
	margin-bottom: 1rem;
}
dif-sections a {
	display: block;
}
.dif-sections li a >h3{
	color:#333;
	margin:0.7rem 0 0.2rem 0.4rem;
	@include data-dpr("font-size",17);
}
.dif-sections li a >h4{
	color:#666;
	margin:0 0 0.2rem 0.4rem;
	@include data-dpr("font-size",14)
}
.dif-sections li a >img{
	width:10rem;
	height:6.4rem;
}
.dif-sections li a >p{
	width:9.2rem;
	height:0.6rem;
	line-height:0.6rem;
	margin:0.4rem 0 0rem 0.4rem;
	padding:0 0.4rem;
	color:#333;

}
.dif-sections li a >p span{
	float:left;
    @include data-dpr("font-size",14);
}
.dif-sections li a >p strong{
	float:right;
	margin:0 1rem 0 0;
	color:#ff4081;
	@include data-dpr("font-size",16);
}
/*end popular-recommand部分*/
/*friend-like部分*/
.every-recom{
	width:10rem;
}
.every-recom li{
	width:10rem;
}
.bigp{
	height:12.533333rem;
	position: relative;
	overflow: hidden;
}
.bigp>img{
	height:12.533333rem;
	width:10rem;
}
.introduceBig{
	height:1.12rem;
	width:10rem;
	line-height:1.12rem;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom:0;
	left:0;
}
.introduceBig>p{
	margin-left: 0.426667rem;
	color:#fff;
	@include data-dpr("font-size",14)
}
.introduceBig>p span{
	width:0.72rem;
	height:0.453333rem;
	background-color: #fff;
	color: #202020;
	margin-right: 0.4em;
	padding:0.05rem;
	@include data-dpr("font-size",12)
}
.midp{
	width:10rem;
	height: 6.4rem;
	position: relative;
}
.midp>img{
	width:10rem;
	height: 6.4rem;
}
.introduceMid{
	width:1.813333rem;
	height:1.813333rem;
	background-color: #fff;
	position: absolute;
	right:0.48rem;
	top:0.293333rem;
	color:#202020;
	display: flex;
	flex-direction: column;
	text-align: center;
	@include data-dpr("font-size",12)
}
.introduceMid p{
	margin-top: 0.106667rem;
}
.introduceMid p:last-child{
	color:#ff4081;
	@include data-dpr("font-size",16)
}
.friend-say{
	width:9.2rem;
	height:6rem;
	padding:0.827rem 0.4rem 0;
	>div:first-child{
		width:9.2rem;
		height:1.6rem;
		overflow:hidden;
		ul{
            width:18rem;
            height:1.6rem;
            li{
				width:1.6rem;
				height:1.6rem;
                float:left;
				margin: 0 0.13rem;
				img{
                    width:1rem;
                    height:1rem;
                    margin: 0.3rem;
                    border-radius: 50%;
					-webkit-border-radius: 50%;
					&.active{
						width:1.6rem;
						height:1.6rem;
                        margin: 0rem;
					}
				}
			}
		}
	}
}
.friend-say>p{
	margin: 0.4rem auto 0;
	background-color:#393939;
	text-align: center;
	width:0.426667rem;
	height:1px;
}
.recommand-text{
	margin:0.586667rem auto 0;
	color:#323232;
	@include data-dpr("font-size",14);
}
.recommand-text p:first-child span{
	background-color: #323232;
	color:#fff;
}
.recommand-text p:last-child{
	margin: 0.48rem 0 0.96rem 0.1rem;
}
/*end -friend-like部分*/
/*for-you部分*/
.intere-authors{
	height:1.6rem;
	line-height: 1.6rem;
	padding: 0 0.4rem;
	border-bottom: 1px solid #dedede;
	position: relative;
}
.intere-authors span{
	color:#3c4350;
	@include data-dpr("font-size",17);
}
.authors-pics{
	position: absolute;
	right:0.8rem;
	bottom:0.373333rem;
	width:3.6rem;
	height: 1rem;
}
.authors-pics a{
	float: left;
	display: block;
	width: 1rem;
	height: 1rem;
	margin-left: 0.2rem;
}
.authors-pics a img{
	width: 1rem;
	height: 1rem;
}
.author-one{
	z-index: 3;
}
.author-two{
	opacity: 0.8;
	z-index: 2;
}
.author-three{
	opacity: 0.6;
	z-index: 1;
}
.icon-next{
	position: absolute;
	right:0.4rem;
	bottom:0.6rem;
	display: block;
	width:0.2rem;
	height:0.36rem;
}
.icon-next img{
	width:0.2rem;
	height:0.36rem;
	vertical-align: top;
}
.feed-section{
	height:7.36rem;
	border-bottom: 1px solid #dedede;
}
.feed-item{
	display: block;
	height:3.68rem;
	padding:0 0.4rem;
	border-bottom: 1px solid #dedede;
}
.feed-item>img{
	width:2.88rem;
	height:2.88rem;
	margin:0.4rem  0.4rem 0.4rem 0;
}
.item-details{
	margin:0.64rem 0 ;
	width: 5.653333rem;
	height: 2.4rem;
}
.item-details h3{
	color: #3c4350;
	line-height: 1em;
	margin-bottom: 0.3rem;
	@include data-dpr("font-size",16)

}
.item-details>p{
	color:#323232;
	line-height: 1.6em;
	word-wrap: break-word;
  @include data-dpr("font-size",14);
}
.feed-info{
	width: 5.653333rem;
	line-height: 1rem;
	height:1rem;
	@include data-dpr("font-size",14);
}
.feed-info p{
	float:left;
	width:1.333333rem;
	height: 0.266667rem;
	color:#666;
	line-height: 0.266667rem;
	margin: 0.4rem 0.2rem 0 0;
	@include data-dpr("font-size",12);
}
.feed-info p span,.feed-info p em{
	float: left;
}
.feed-info p em{
	text-indent: 0.1rem;
  line-height: 0.44rem;
}
.feed-info img{
	vertical-align: top;
}
.icon-like img{
	height:0.44rem;
}
.icon-comment,.icon-comment img{
	height: 0.44rem;
}
.hotel-lists{
	width:10rem;
}
.list-item{
	height: 10.8rem;
}
.list-item-top{
	margin:0 0.4rem;
	height:1.626667rem;
	line-height: 1.6rem;
}
.list-item-top>img{
	height: 1rem;
	width:1rem;
	margin-top: 0.2rem;
}
.list-item-top h3{
	color:#3c4350;
	margin-left: 0.32rem;
	@include data-dpr("font-size",16);
}
.list-item-top span{
	display: block;
    color: #666;
	@include data-dpr("font-size",12);

}
.item-pic{
	display: block;
	width:10rem;
	height:4.933333rem;
}
.list-item>p{
	margin:0.4rem 0.4rem  0.2rem 0.4rem;
	color:#323232;
	line-height: 1.6em;
	word-wrap: break-word;
	@include data-dpr("font-size",14);
}
.item-more{
	display:block;
}
.item-info{
	margin-left: 0.4rem;
}
/*end for-you部分*/
.mask{
	width:10rem;
	height:17.786667rem;
	position: fixed;
	left:0;
	top:0;
	z-index:2;
	display: none;
}
.mask .mask-up{
	width:10rem;
	height:17.786667rem;
	background-color:#1f252e;
	opacity: 0.6;
}
.mask .sidebar{
	width:2.0rem;
	height:17.786667rem;
	background-color: #fff;
	position: absolute;
	top:0;
}
.sidebar li{
	float:left;
	width:0.6rem;
	height:0.6rem;
	padding:0.7rem 0.7rem;
}
.sidebar li a{
	display: block;
	width:0.6rem;
	height:0.6rem;
	background-size: contain;
}
.sidebar li img{
	width:0.6rem;
	height:0.6rem;
}


