.wrap{
    width:10rem;
    height: 17.786667rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.signin{
    width:1.733333rem;
    height: 1.733333rem;
    background-position: ;
    margin: 1.466667rem auto 0;
}
.wrap h3{
	font-size: 18px;
	color:#3c4350;
	margin:0.8rem 0 0.4rem;
}
.note{
	font-size: 12px;
	color:#696d6f;
}
label{
	display: flex;
	flex-direction: column;
    align-items: center;
    margin-top: 1.04rem;
}
label input{
	display: block;
	text-align:center;
	color: #696d6f;
	font-size: 14px;
	height: 1.333333rem;
	background: #f7f7f8;
	border-radius: 8px;
	margin-bottom: 0.4rem;
}
.create-account{
	margin-top: 0.8rem;
	width: 6.666667rem;
	height: 1.733333rem;
	line-height: 1.733333rem;
	font-size: 18px;
	color:#fff;
	background-color: #06bebd;
	text-align:center;
	border-radius: 50px;
}
.note-more{
	text-align: center;
	color:#919499;
	font-size: 14px;
	margin-top: 1.493333rem;
}
.note-more a{
	color: #06bebd;
}





