@import "reset";
@import "mixin";
body{
  margin: 0;
  height:100%;
  color:#fff;
  @include data-dpr("font-size",13);
}
.wrap{
  width:10rem;
  height:100%;
  background-image: url(../img/bg.jpg);
  background-size: 10rem 100%;
  .time{
    width:9.2rem;
    height: size(168);
    padding:1rem 0 0 0.8rem;
    .hm{
      height: size(100);
      line-height:size(100);
      font-size:1.5rem;
      span{
        float:left;
      };
      em,strong{
        float:left;
        margin-left: size(18);
      }
    }
    >p:nth-of-type(2){
      margin-top: size(34);
      @include data-dpr("font-size",14);
      span,em{
        float:left;
      }
      em{
        margin-left:0.2rem;
      }
    }
  }
  .icon{
    width: 10rem;
    margin-top: size(260);
    li{
      width: 10rem;
      height: size(160);
      margin-bottom: size(60);
      display:flex;
      justify-content: space-around;
      >div {
        width: size(120);
        height: size(160);
        >a{
          width: size(120);
          height: size(120);
          display:block;
          border-radius: 0.3rem;
          background-color: deeppink;
        }
        >p{
          width: size(120);
          height: size(24);
          margin-top: size(16);
          line-height: size(24);
          text-align: center;
        }
      }
    }
  }
}