body,
p,
dd,
input,
dl {
	margin: 0px;
}
ul,ol{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
img {
	border: none;
	vertical-align: top;
}
input {
	margin: 0;
	padding: 0;
}
h2,
h3,
h4, 
h5{
	margin: 0px;
	font-weight: normal;
	font-size: 12px;
}
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}