body,h3,ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    margin: 0;
}
em{
    font-style: normal;
}
li{
    list-style: none;
    margin: 0;
}
.wrap{
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
}
#form-gra{
    border-radius: 20px;
    padding: 15px;
    display: table;
    vertical-align: middle;
}
#form-gra form,#form-gra select{
    display: inline-block;
    margin-left: 50px;
}
form label{
    margin-left: 20px;
}
input[type="radio"]{
    margin-left: 0px;
}
#form-gra{
    border: 1px solid #666;
}
#form-gra select{
    width: 100px;
    height: 30px;
    margin-left: 10%;
}
#form-gra select option{
    text-indent: 3px;
}
.aqi-chart-wrap{
    margin-top: 20px;
    height: 460px;
    border-radius: 20px;
    border: 1px solid #666;
    position: relative;
}
.aqi-chart-wrap h3{
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 6px;
}
.aqi-chart-wrap h3 span,
.aqi-chart-wrap h3 em{
    color: red;
}
.aqi-chart-table{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 420px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-around;
}
.aqi-chart-table li{
    flex: 1;
    margin: 0 3px;
}