.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

body {
  width: 10rem;
  margin: 0;
  color: #9da1a7;
  font-size: 0.16rem;
  font-family: "Helvetica Neue", Helvetica,STHeiTi ,sans-serif; }

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a, a:hover {
  text-decoration: none; }

a, input, button {
  -webkit-tap-highlight-color: transparent; }

input, button {
  -webkit-apprence: none;
  border-redius: 0;
  border: 0;
  padding: 0; }

input {
  outline: none;
  resize: none;
  border: none;
  background: transparent; }

a, a:hover {
  text-decoration: none; }

em {
  font-style: normal; }

strong {
  font-weight: normal; }

img {
  vertical-align: top;
  border: none; }

.top {
  height: 1.173333rem;
  width: 10rem;
  background: #2b3139; }

.top-label {
  margin: 0 0.133333rem;
  position: relative; }
  .top-label h2 {
    height: 1.173333rem;
    line-height: 1.173333rem;
    color: #fff;
    font-weight: normal;
    text-align: center; }
    [data-dpr="1"] .top-label h2 {
      font-size: 16px; }
    [data-dpr="2"] .top-label h2 {
      font-size: 32px; }
    [data-dpr="3"] .top-label h2 {
      font-size: 48px; }
  .top-label a {
    position: absolute;
    display: block;
    color: #b3bdc2; }

.prev {
  display: block;
  width: 0.24rem;
  height: 0.413333rem;
  left: 0.133333rem;
  bottom: 0.4rem; }
  .prev img {
    width: 0.3rem; }

.comment {
  width: 9.2rem;
  margin: 0 0.4rem;
  padding-top: 0.8rem; }
  .comment li {
    border-bottom: 1px solid #dedede;
    padding-bottom: 0.666667rem; }

.head span {
  color: #3c4350;
  font-size: 16px; }

.head em {
  color: #b7ce63;
  font-size: 18px; }

.write-time {
  font-size: 14px;
  color: #9da1a7;
  margin: 0.32rem 0 0.6rem; }

.comment .comtext {
  color: #696d6f;
  font-size: 14px;
  line-height: 1.6em;
  margin-bottom: 0.533333rem; }

.top {
  height: 5.72rem;
  width: 10rem;
  background-color: #f5f5f5;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dedede;
  background-color: #fff; }

.top-label {
  height: 1.173333rem;
  margin: 0 0.533333rem;
  margin-bottom: 0.4rem; }

.prev {
  left: 0;
  background-size: 0.533333rem 0.373333rem; }

.author-info {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.author-info img {
  display: block;
  width: 1.84rem;
  height: 1.84rem; }

.author-info h1 {
  height: 0.8rem;
  margin: 1rem auto 0.4rem;
  color: #3c4350; }
  [data-dpr="1"] .author-info h1 {
    font-size: 20px; }
  [data-dpr="2"] .author-info h1 {
    font-size: 40px; }
  [data-dpr="3"] .author-info h1 {
    font-size: 60px; }

.author-info > p span {
  color: #06bebd; }
  [data-dpr="1"] .author-info > p span {
    font-size: 18px; }
  [data-dpr="2"] .author-info > p span {
    font-size: 36px; }
  [data-dpr="3"] .author-info > p span {
    font-size: 54px; }

.author-info > p strong {
  color: #323232; }
  [data-dpr="1"] .author-info > p strong {
    font-size: 14px; }
  [data-dpr="2"] .author-info > p strong {
    font-size: 28px; }
  [data-dpr="3"] .author-info > p strong {
    font-size: 42px; }

/*end top*/
/*wrap*/
.wrap {
  background-color: #fff; }

.comment {
  padding-top: 0; }
  .comment li > p {
    margin-bottom: 0.4rem;
    color: #333;
    height: 1.8rem;
    line-height: 1.6em;
    overflow: hidden; }
    [data-dpr="1"] .comment li > p {
      font-size: 14px; }
    [data-dpr="2"] .comment li > p {
      font-size: 28px; }
    [data-dpr="3"] .comment li > p {
      font-size: 42px; }
  .comment li > p.more {
    overflow: visible;
    height: auto; }
    [data-dpr="1"] .comment li > p.more {
      font-size: 14px; }
    [data-dpr="2"] .comment li > p.more {
      font-size: 28px; }
    [data-dpr="3"] .comment li > p.more {
      font-size: 42px; }
  .comment li strong {
    padding: 0.3rem;
    display: block; }
    [data-dpr="1"] .comment li strong {
      font-size: 11px; }
    [data-dpr="2"] .comment li strong {
      font-size: 22px; }
    [data-dpr="3"] .comment li strong {
      font-size: 33px; }

.prof-head {
  width: 9.2rem;
  height: 2rem;
  padding-top: 0.533333rem;
  color: #323232; }
  [data-dpr="1"] .prof-head {
    font-size: 15px; }
  [data-dpr="2"] .prof-head {
    font-size: 30px; }
  [data-dpr="3"] .prof-head {
    font-size: 45px; }
  .prof-head .head-top em {
    color: #b7ce63; }
  .prof-head .write-time {
    color: #666;
    margin-top: 0.2rem; }
    [data-dpr="1"] .prof-head .write-time {
      font-size: 13px; }
    [data-dpr="2"] .prof-head .write-time {
      font-size: 26px; }
    [data-dpr="3"] .prof-head .write-time {
      font-size: 39px; }

.prof-head img {
  width: 1.466667rem;
  height: 1.466667rem;
  border-radius: 50%; }

.prof-head div:nth-of-type(1) {
  display: inline-block;
  margin-left: 0.453333rem;
  margin-top: 0.2rem; }

/*end wrap*/

/*# sourceMappingURL=profile.css.map */
