body{
    margin: 0;
    font-size: 14px;
    color: #333;
}
h3,h4,p,ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    border: 0;
    vertical-align: top;
}
.wrap{
    margin: 20px;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #d7d7d7;
    overflow: hidden;
}
/*左侧*/
.team{
    width: 158px;
    padding: 20px;
    border: 1px solid #d7d7d7;
    float: left;
    margin-left: -100%;
    background-color: #fff;
}
.team img{
    width: 78px;
    height: 78px;
    border: 1px solid #d7d7d7;
    vertical-align: top;
}
.team h3{
    margin-left: 20px;
    display: inline-block;
    font-size: 14px;
    color: #333;
}
/*中间*/
.desciption{
    width: 100%;
    float: left;
}
.inner{
    margin-left: 220px;
    margin-right: 140px;
    padding: 20px;
    background-color: #fff;
}
.inner h3{
    margin-top: 18px;
}
.inner p{
    margin-top: 6px;
}
/*右侧*/
.members{
    width: 80px;
    padding: 20px 20px 0 20px;
    float: left;
    background-color: #fff;
    margin-left: -120px;
}
.members ul{
    width: 80px;
    overflow: hidden;
}
.members ul li{
    width: 78px;
    height: 78px;
    border: 1px solid #d7d7d7;
    float: left;
    margin-bottom: 20px;
}
.members ul li img{
    width: 78px;
    height: 78px;
}


