ul{
    padding: 0;
    margin: 0;
}
.wrap{
    margin: 0 auto;
}
.tag,.hobby{
    taet-align: center;
}
.tag-inp{
    width: 200px;
    height: 30px;
}
.hobby-inp{
    margin-right: 40px;
    resize: none;
    width: 200px;
    height: 120px;
}
button{
    background-color: #00CCFF;
    width: 120px;
    height: 40px;
    outline: none;
    border: none;
    padding: 0;
}
.display{
    margin: 20px 0;
    overflow: hidden;
}
.display li{
    list-style: none;
    padding: 4px;
    margin: 4px;
    min-width: 40px;
    height: 40px;
    background-color: #ff5140;
    font-size: 14px;
    color: white;
    line-height: 40px;
    text-align: center;
    float: left;
}
.display li.delete{
    background: #132f48;
}
.display li span{
    color: black;
}