<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2-38</title>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <script src="../lib/vue.js"></script>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<!-- component template -->
<script type="text/x-template" id="grid-template">
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th class="text-center"
                    v-for="key in columns"
                    :class="active: sortKey===key"
                    @click="sortBy(sortKey)">
                    {{key}}
                    <span class="arrow" :class="sortOrder[key]>0?'asc':'bsc'"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr  v-for="entry in filteredData">
                <td v-for="key in columns">
                    {{entry[key]}}
                </td>
            </tr>
        </tbody>
    </table>
</script>
<!-- component register -->
<script src="./js/component.js"></script>

<!-- demo root element -->
<div id="demo">
    <grid-template
        :data="gridData"
        :columns="gridColumns">
    </grid-template>
</div>
<!-- component 实例化 -->
<script src="./js/index.js"></script>

</body>
</html>