/*@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }*/
//}
@import "../css/reset.css";
@function size($size) {
  $width: 750;
  $scale: 10;
  @return ($size / $width * $scale) * 1rem;
}
@mixin data-dpr($field,$val) {
  [data-dpr="1"] & {
    #{$field}: $val*1px;
  }
  [data-dpr="2"] & {
    #{$field}: $val*2px;
  }
  [data-dpr="3"] & {
    #{$field}: $val*3px;
  }
}
$main-color-weekend: #e31b24;
$main-color: #0d0d0d;

body{
  font-size: 13px;
  @include data-dpr("font-size",13);
}
header{
  width:10rem;
  height: size(100);
  border: 1px solid #eeeeee;
  color: $main-color-weekend;
  position:relative;
  .prev-month,.next-month{
    width: size(100);
    height: size(100);
    line-height: size(100);
    @include data-dpr("font-size",14);
  }
  .prev-month{
    margin-left:size(30);
    float:left;
  }
  .next-month{
    margin-right:size(30);
    float:right;
    text-align: right;
  }
  .choosed-time{
    width:5rem;
    height: size(100);
    line-height: size(100);
    position: absolute;
    top:0;
    left:50%;
    margin-left:-2.5rem;
    text-align: center;
    @include data-dpr("font-size",16);
  }
  a{
    display:inline;
  }
  .icon-sanjiao{
    position: absolute;
    top: size(42);
    right: 2.4rem;
  }
  .icon-sanjiao img{
    @include data-dpr("height",16);
  }
  /*.today{
    width:size(62);
    height:size(32);
    float:left;
  }
  .icon-add{
    float:right;
    margin-right:size(32);
  }*/
}
.wrap{
  width:10rem;
  ul:first-child{
    height: size(60);
    line-height: size(60);
    display:flex;
    align-items: center;
    li{
      color:#666;
      flex-grow:1;
      text-align: center;
      &.spe{
        color: $main-color-weekend;
      }
    }
  }
  ul:nth-of-type(2){
    height:8.6rem;
    display: flex;
    flex-wrap: wrap;
    li{
      text-align: center;
      color:#333;
      width:1.2rem;
      height: 1.2rem;
      line-height: 1.2rem;
      margin: 0.11rem;
      border-radius: 50%;
      @include data-dpr("font-size",15);
      &.past{
        color: #999;
      }
      &.weekend{
        color: $main-color-weekend;
      }
      &.active{
        border: 1px solid $main-color-weekend;
      }
    }

  }
}